
.navbar {
    background: linear-gradient(to right, black , #860303);
    max-height: 120px;
    position: fixed;
    width: 100%;
    /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22); */
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgb(46, 20, 20);
    z-index: 99;
    white-space: nowrap;
}
.title {
    color: rgba(61, 61, 61, 0.623);
    font-family: 'Garamond', serif;
    font-size: calc(32px + 14 * (100vw - 320px)/ 800);
    text-shadow: 2px 1px #ffd904;
}
#message {
    color: #f3efef94;
    font-family: 'Garamond', serif;
    font-size: calc(12px + 14 * (100vw - 320px)/ 800);
}
#score{
    color: #f3efef94;
    font-family: 'Garamond', serif;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
}

@media (max-width: 700px) {

    .header li {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 0;
    } 
}