body {
  background: linear-gradient(to right, black , #860303);
  align-content: center;
}

.card {
  background: #3a3a3a;
  border-radius: 2px;
  max-width: 175px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #030303, 0 3px 6px #030303;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#290306;
}
.card > .img-container > img {
  border: #ffee00 5px solid;
  width: 100%;
}

.shake{
  animation: shake 0.5s;
  animation-iteration-count: 5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
