
.gameMessage {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Garamond', serif;
}

.black {
    color: #838181;
    text-shadow: 2px 2px #070707;
}

.correct {
    color: ivory;
    text-shadow: 2px 2px #070707;
}

.incorrect {
    color: rgb(255, 22, 6);
    text-shadow: 2px 2px #070707;
}